<!DOCTYPE html>
<html ng-app="store">
<head>
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/layout.css">

	
</head>

<body>

<div class="container">

	<div ng-controller="StoreController as store" class="row">
		<div ng-repeat="product in store.products | orderBy:'-price' | limitTo: 3"  class="col-md-6" style="min-height:300px">
			
			<product-title>
			</product-title>
			
			<div ng-repeat="image in product.images" class="col-md-2">
				<img ng-src="{{image.full}}" class="img-responsive" />
			</div>
			<button ng-show="product.canPurchase">Add to cart</button>

			

			<product-panels>
			</product-panels>


			<hr>
		</div>
	</div>

</div>
	<script type="text/javascript" src="assets/js/angular.min.js"></script>
	<script type="text/javascript" src="assets/js/app.js"></script>
</body>

</html>